@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  font-family: "Poppins";

  height: 100vh;
  width: 100vw;
}

.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.show {
  left: 0;
}

.pad {
  padding-left: 12rem;
}

.trans {
  transition: all 0.2s ease;
}
.translong {
  transition: all 0.6s ease;
}

.centered {
  top: 50%;
  transform: translateY(-50%);
}

/* .shine {
  position: relative;
  overflow: hidden;
}

.shine:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    left: -100px;
  }
  20% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
} */
.bg {
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, rgb(32, 182, 210), rgb(64, 133, 243));
}
